body {
    background-image: url("https://user-images.githubusercontent.com/82347372/115887872-5b251e00-a420-11eb-8013-8f1847bf633d.jpg");
    margin: 0px auto;
    font-family: 'Poller One', cursive;
}

h1 {
    margin: 3rem 0rem 1rem 0rem;
    color: whitesmoke;
    text-align: center;
    font-size: 5rem;
}

#infoPara {
    color: rgba(255,255,255,0.75);
    margin: .5rem 1.5rem;
    line-height: 1rem;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
}

.inputSection {
    width: 100%;
    height: 40vh;
    margin: 1rem 0;
    padding: 1em;
    background-image: url("https://user-images.githubusercontent.com/82347372/115903990-42bdff00-a432-11eb-9aab-2b9a980a3f8f.jpg");
    background-size: cover;
    object-fit: cover;
    display: grid;
    grid-template: 50% 50%/ 25% 25% 25% 25%;
}

.titles {grid-column: 1;}
.input-first{grid-column: 2;}
.input-last{grid-column: 3;}
.sub-first {grid-column: 4;}

.inputs {
    width: 40%;
    height: 12%;
    padding: 1.5rem;
    border-radius: 5%;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    display: block;
}

#sub-first {
    width: 30%;
    height: 15%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    display: block;
    font-size: 2rem;
}

#nameIs {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.starName {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 3px whitesmoke, 0 0 5px #0000FF;
    color: white;
    font-size: 3.5rem;;
}

.display1 {
    padding: .5rem;
}
